<<<<<<< HEAD
#loadi {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.451);
  z-index: 10;
} */

#loadi .lohavas{
  width: 500px;
  height: 500px;
}

.hide{
  display: none;
  opacity: 0;
  z-index: -10 !important;
}
=======
>>>>>>> 021dcfd91f3b554cfb7c7fca74c06c7df1a3b2c5
